* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.game-container img,
.game-container video {
  max-width: 100%;
  height: auto;
  display: block;
}

.game-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.game-container {
  min-width: 544px;
  max-width: 544px;
}

.game-container *{
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .game-container {
    max-width: 90%;
    padding: 0 10px;
  }

  .game-container {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .game-container {
    padding: 0 5px;
    font-size: 14px;
  }
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.stats {
  color: #ffffff;
  font-size: 16px;
}

.cards-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  width: calc(25% - 5px);
  aspect-ratio: 1;
  background-color: #008000;
  border: 2px solid #ffffff;
  border-radius: 12px;
  background-image: url(./assets/lines.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.revealed {
  background-color: #ffffff;
  border-color: #dadada;
  cursor: not-allowed;
}

.card-emoji {
  font-size: 50px;
  display: none;
}

.revealed .card-emoji {
  display: block;
}

.button {
  width: 100%;
  height: 52px;
  background-color: #006400;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 7px;
  border: 2px solid #dadada;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s;
  margin-top: 32px;
}

.button:hover {
  background-color: #1dae2c;
}